## Hands-on 3B

#### Build a Decision Tree classifier to predict the survivality of the Titanic passengers based on the data pre-processed in Hands-on 2C.

In [1]:
# Initialization
%matplotlib inline
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
# Import libraries
from pandas import read_csv
from sklearn.model_selection import train_test_split as split, KFold, GridSearchCV
from sklearn.tree import DecisionTreeClassifier

In [3]:
# Read data from csv file
df = read_csv("titanic_processed.csv")
df.sample(5)

     Pclass   Age  SibSp  Parch     Fare  Survived  Gender_female  Gender_male
30        1  40.0      0      0  27.7208         0          False         True
433       3  17.0      0      0   7.1250         0          False         True
202       3  34.0      0      0   6.4958         0          False         True
219       2  30.0      0      0  10.5000         0          False         True
123       2  32.5      0      0  13.0000         1           True        False

**To do:**
- Store the features as variable X and targets as variable y
- Split the features and targets into training and testing sets

In [4]:
X = df.drop(columns=['Survived'])
y = df['Survived']
X_train, X_test, y_train, y_test = split(X, y, random_state=42)

**To do:**
- Evaluate the performance of decision tree classifier on this dataset (using the default hyperparameter values)

In [5]:
dtc1 = DecisionTreeClassifier(random_state=42).fit(X_train, y_train)
print(f"dtc1 accuracy: {dtc1.score(X_test, y_test):.3%}")

dtc1 accuracy: 74.888%

**To do:**
- Use grid search to fine tune the following hyperparameters
    * criterion ('gini' or 'entropy')
    * max_leaf_nodes (from 2 to 20)

In [6]:
params = {}
params['criterion'] = ['gini', 'entropy']
params['max_leaf_nodes'] = range(2, 21)
grid = GridSearchCV(DecisionTreeClassifier(), params, cv=5, n_jobs=-1, verbose=2)
grid.fit(X_train, y_train)
print(grid.best_params_)

Fitting 5 folds for each of 38 candidates, totalling 190 fits
{'criterion': 'entropy', 'max_leaf_nodes': 8}

**To do:**
- Train a decision tree classifier with the best set of hyperparameter values
- Evaluate the performance of the resulting classifier

In [8]:
dtc2 = DecisionTreeClassifier(**grid.best_params_, random_state=42).fit(X_train, y_train)
print(f"dtc2 accuracy: {dtc2.score(X_test, y_test):.3%}")

dtc2 accuracy: 80.269%